html, body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

/* ***** CABECALHO ***** */
.appbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 5px;
    background-color: #f7d736;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  }
  
.logo {
  height: 80%;
  margin: 5px;
}
  
.subtitle {
  margin: 5px;
}
  
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* ***** ADD-BUTTON ***** */
.form-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  min-height: 7.5em;
  min-width: 34rem;
  border-radius: 5px;
  
  margin: 2rem;
  padding: .5rem;  

  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}


.form-card input, .form-card textarea {
  font-family: "Roboto", sans-serif;
  border: none;
  padding-left: 5px;
}

.form-card-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.form-card textarea {
  font-size: 16px;
}
::-webkit-resizer {
  display: none;
}

.btn {
  font-size: 16px;
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}
  
.btn > * {
  position: relative;
}
  
.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
  
.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

/* ***** CARDS ***** */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 98%;
}
  
.card{
  font-family: "Permanent Marker", cursive;
  display: flex;
  flex-direction: column;
  
  border-radius: 10px;
  margin:   10px 5px;
  padding: 10px;
  width: 13rem;
  min-height: 6rem;

  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  
}

.card-title{
  font-size: 18px;
  color:#2c2c2c;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-content{
  height: 100%;
  font-size: 16px;
  font-weight: lighter;
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#4c4c4c;
}

.card-color-1 {
  background-color: #ead3a7;
}
.card-color-2 {
  background-color: #9de0f5;
}
.card-color-3 {
  background-color: #ef89ba;
}
.card-color-4 {
  background-color: #fae890;
}
.card-color-5 {
  background-color: #abe9c1;
}

.card-rotation-1{
  transform: rotate(1deg);
}
.card-rotation-2{
  transform: rotate(-1deg);
}
.card-rotation-3{
  transform: rotate(2deg);
}
.card-rotation-4{
  transform: rotate(-2deg);
}
.card-rotation-5{
  transform: rotate(3deg);
}
.card-rotation-6{
  transform: rotate(-3deg);
}
.card-rotation-7{
  transform: rotate(4deg);
}
.card-rotation-8{
  transform: rotate(-4deg);
}
.card-rotation-9{
  transform: rotate(5deg);
}
.card-rotation-10{
  transform: rotate(-5deg);
}